.getMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: rgb(131, 186, 207);
    border: 1px solid rgb(131, 186, 207);
    box-shadow: 20px 20px 50px 20px grey;
    margin-top: 10%;
    border-radius: 5%;
}

.getMe input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin: 5px;
    text-align: center;
    margin-left: 100px;
}

.getMe button {
    width: 305px;
    height: 24px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin: 5px;
    text-align: center;
    margin-left: 100px;
    background-color: rgb(81, 81, 112);
    color: rgb(131, 186, 207);
}